@font-face {
    font-family:khmerFontMoul;
    src: url('/../fonts/khmerMoul.ttf');
}
.app_font_titel{
    font-family: khmerFontMoul!important;
    line-height: 1rem;
}
img {
     filter: saturate(1)!important;
}
